.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  height: 100vh;
}
.layer{
  height: 97%;
  width: 97%;
  display: grid;
  grid-template-columns: 11rem auto;
  background-color:	#6495ED;
  border-radius: 2rem;
}
@media screen and (max-width:768px) {
  .App{
    height: 130vh;
  }
  .layer{
    grid-template-columns: 1fr;
    overflow: hidden;
  
  }

}
